.cover {
    /* text-shadow: 7px 6px black; */
}

.slidev-layout {
    background-color: #ccfbf1;
}

.two-columns {
    grid-template-columns: 1.1fr 0.9fr !important;
}

.two-columns .slidev-page {
    padding: 10px;   
}

.two-columns .slidev-page.col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thanks h1 {
    font-size: 5rem !important;
    margin-bottom: 2rem !important;
}

unicorn {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #f763e0 10%, #7e148c 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

angry-unicorn {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #f76363 10%, #8c1414 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}